<!DOCTYPE HTML>
<html lang="en">
  <%= render '/head.*' %>
  <body>
    <%= render '/header.*' %>
    <div class=wrapper>
      <div id="doc-nav" class="doc-nav">
      </div>
      <div class="main class">
        <% if @config[:breadcrumbs] %>
          <% ancestor_array = ancestor_path_array(@item) unless ancestor_path_array(@item).empty? %>
          <ul class="breadcrumbs">
            <% if ancestor_array and ancestor_array.length > 2 %>
              <% ancestor_array.reverse.each_with_index do |item, i| %>
                <% if i > 0 %>
                  <li class="breadcrumb"><%= link_to item.key?(:title) ? "#{item[:title]}" : "Breadcrumb", item %></li>
                <% end %>
              <% end %>
              <li class="breadcrumb"><%= @item.key?(:title) ? "#{@item[:title]}" : "Current page" %></li>
            <% end %>
          </ul>
        <% end %>
        <%= yield %>
        <hr>
        <footer>
          <%= edit_on_gitlab(@item) %>
          <a href="https://gitlab.com/gitlab-com/gitlab-docs">View the source code of this site</a>
        </footer>
      </div>
      <div class="clear"></div>
    </div>

    <%= render '/footer.*' %>
    <%= render '/docsearch.*' %>
    <%= render '/analytics.*' %>
  </body>
</html>
